*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
}

header{
    background-color: black;
}

.logo h1{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;
}

.menu ul{
    display: flex;
    margin-top: 8px;
    list-style: none;
}

.menu li{
    margin-left: 20px;
}

.menu a{
    text-decoration: none;
    color: aqua;

}

.meu a:hover{
    color: #fff;
}




